@charset "utf-8";
/* 余白 */
body {
  margin : 5px;
}

/* スクロールボックス */
.box {
  width      : 100%;                  /* 横幅を200pxに指定 */
  height     : 75px;                  /* 横幅を200pxに指定 */
  border     : 1px solid saddlebrown; /* わかりやすくボーダーを引く */
  overflow-y : scroll;                /* 縦方向にスクロール可能にする */
}

/* テーブル装飾 */
table.record {
  border          : 2px solid saddlebrown;
  border-collapse : collapse;
  width           : 100%;
}
th.record {
  text-align       : center;
  border           : 1px solid saddlebrown;
  border-bottom    : 2px solid saddlebrown;
  background-color : PowderBlue;
}
td.record {
  text-align    : left;
  border        : 1px solid saddlebrown;
  border-top    : 1px dashed saddlebrown;
  border-bottom : 1px dashed saddlebrown;
  padding       : 5px;
}

/* リンクボタン */
.button-1 {
  display         : inline-block;
  padding         : 5px 20px;
  font-size       : 15px;
  color           : MediumTurquoise;
  text-decoration : none;
  user-select     : none;
  border          : 2px solid MediumTurquoise;
  box-shadow      : 5px 5px MediumTurquoise;
}
.button-1:hover {
  color         : white;
  background    : MediumTurquoise;
  box-shadow    : none;
  transform     : translate(5px, 5px);
}

/* テーブルごとにリセットされるカウンター
td要素にcntクラスを付けて利用 */
table {
  counter-reset: cnt; /* カウンターcntを0に初期化 */
}
td.cnt::before {
  counter-increment : cnt;               /* +1 */
  content           : "No."counter(cnt); /* No.を付けて表示 */
}

/* アコーディオンメニュー */
summary {
  display : block; /* 三角マークを消す */
  color   : white;
}
summary:hover {
  background    : lightpink;
  color         : lightpink;
}
details[open] > summary {
  background    : lightpink;
  color         : white;
}
table.secret {
  border          : 2px solid saddlebrown;
  border-collapse : collapse;
  width           : 100%;
}
th.secret {
  text-align       : center;
  border           : 1px solid saddlebrown;
  border-bottom    : 2px solid saddlebrown;
  background-color : mistyrose;
}

/* べージトップ遷移ボタン */
.pagetop {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
a.button-top {
  display          : inline-block;
  padding          : 5px 10px;
  font-size        : 40px;
  color            : saddlebrown;
  font-weight      : bold;
  text-decoration  : none;
  user-select      : none;
  border           : 1px solid saddlebrown;
  box-shadow       : 3px 3px saddlebrown;
  border-radius    : 50%;
  background-color : PowderBlue;
}

/* ヘッダメニュー */
#nav {
  list-style : none;
  overflow   : hidden;
}
#nav li {
  width            : 30%;
  text-align       : center;
  background-color : MediumTurquoise;
  float            : left;
  height           : 40px;
  line-height      : 40px;
  margin-right     : 3px;
  border-right     : 5px double saddlebrown;
  border-bottom    : 5px double saddlebrown;
}
#nav li a {
  text-decoration : none;
  color           : saddlebrown;
  font-weight     : bold;
  padding         : 5px;
}

/* 見出し */
h3 {
  padding          : 0px 10px;/*上下 左右の余白*/
  color            : saddlebrown;/*文字色*/
  background-color : mintcream;/*背景透明に*/
  border-left      : 8px solid saddlebrown;
}

/* 更新ログ */
table.upd{
  border  : none;
  width   : 100%;
}
td.upd{
  border-bottom  : 1px solid gainsboro;
  text-align     : left;
  vertical-align : top;
}